<!doctype html>
<html lang="en">
  <head>
    {% include '_tag_head.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ metadata.title }}</title>
    <meta name="description" content="{{ metadata.description }}">
    <meta name="og:description" content="{{ metadata.description }}">
    <meta name="author" content="{{ metadata.author }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://brandnewguys.co/">
    <meta property="og:site_name" content="Brand New Guys">

    <meta
      name="og:image"
      property="og:image"
      itemprop="image"
      content="https://brandnewguys.co/img/bng-monogram-subtitle.jpg">
    <link rel="canonical" href="https://brandnewguys.co/">
    <link rel="icon" href="static/img/favicon.ico">
    <script type="application/ld+json">
      {
      "name":"Brand New Guys",
      "description":"{{ metadata.description }}",
      "author": {
        "@type":"Person",
        "name":"{{ metadata.author }}"
      },  
      "@type":"WebSite",
      "url":"https://brandnewguys.co/",
      "publisher": {
      "@type":"Organization",
      "name":"Brand New Guys",
      "logo": {
          "@type":"ImageObject", 
          "url":"https://brandnewguys.co/img/bng-monogram-subtitle.jpg"
      }
      },
      "headline":"Home", 
      "sameAs":["https://instagram.com/brandnewguys.agency"],  
      "@context":"https://schema.org"
      }
    </script>

    <!-- <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script> -->
    <link rel="stylesheet" href="/dist/index.css">
    <style>
      .frame__title {
        position: relative;
        z-index: 2;
        padding: 2rem 3rem;
      }
    </style>
  </head>
  <body>
    {% include '_tag_body.html' %}
    <div class="app">
      <main>        
        <!-- CONTENT-->
        <section class="content js-content">
          <a-scene vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: true; deviceMotionMessage: For the optimal viewing experience, Please allow us to use your phone's capabilities in the next dialog; allowButtonText: Okay;">
            <a-sky rotation="0 -130 0" src="{{ background }}"></a-sky>
            <a-entity id="camera"camera look-controls></a-entity>
          </a-scene>
          <div class="pov">
            <h2 class="content__heading">
              {{ content }}
            </h2>
            <h3 class="socialproof">Trusted by:</h3>
              <img class="client1" src="/static/img/breitling.svg" alt="">
              <img class="client2" src="/static/img/portugalia.svg" alt="">
              <img class="client3" src="/static/img/chanel.svg" alt="">
              <img class="client4" src="/static/img/unicef.svg" alt="">
            
          </div>
        </section>
        <!-- END CONTENT-->
       
      </main>
    </div>
    {% include 'header_nav.html' %}
    <script src="/dist/index.js"></script>
  </body>
</html>
