<!doctype html>
<html lang="en" class="no-js">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5JT9N5KK5P"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-5JT9N5KK5P');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link
      href='https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans:400,700'
      rel='stylesheet'
      type='text/css'>
    <link rel="stylesheet" href="/static/css/podcast_single_style.css">

    <link rel="stylesheet" href="/static/css/podcast_single_reset.css">
    <!-- CSS reset -->
    <link rel="stylesheet" href="/static/css/podcast_single_style.css">
    <!-- Resource style -->
    <link rel="stylesheet" href="/static/css/podcast_single_demo.css">
    <!-- Demo style -->

    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <a href="/deepcuts">← back to overview</a>
      <h1>{{ title }}</h1>
      <h2 class="meta">
        With
        {% for guest in guests %}
          {% if forloop.first %}
            {{ guest | capitalize }}{% elsif forloop.last %}& {{ guest }}.{% else %}, {{ guest }}
          {% endif %}
        {% endfor %}
      </h2>
      <p>Overheard on: {{ recording_date }}</p>
      <div class="embedded-player">
        {{ embedded_player }}
      </div>
    </header>


    <div class="content">
      {{ content }}
    </div>

    <footer>
      <div class="links">
        <ul>
          <li><a href="{{page.apple_url}}"><img src="/static/img/apple-1.svg" alt="listen on Apple podcasts"></a></li>
          <li><a href="{{page.spotify_url}}"><img src="/static/img/spotify-1.svg" alt="listen on Spotify podcasts"></a></li>
          <li><a href="{{page.google_url}}"><img src="/static/img/google-1.svg" alt="listen on Google podcasts"></a></li>
        </ul>

      </div>
      <p>We've got a story to tell. Yours. Brand New Guys is a boutique creative agency, focusing on the intersection of culture, storytelling & technology.</p>
      <img
        src="/static/img/bng-black.svg"
        alt="brand new guys logo"
        class="logo">
      <p>All rights reserved {{ page.date | date: "%Y" }}</p>
    </footer>
    <!-- <script src="../../js/podcast_single_main.js"></script>  Resource JavaScript -->

  </body>
</html>